name: Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'
  push:
    branches: [ main ]

jobs:
  update-sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          # cache: pnpm

      - run: pnpm i

      - name: Update sponsors
        run: npm run build
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}
          SPONSORKIT_PATREON_TOKEN: ${{ secrets.SPONSORKIT_PATREON_TOKEN }}
          # SPONSORKIT_LIBERAPAY_LOGIN: ${{ secrets.SPONSORKIT_LIBERAPAY_LOGIN }}
          SPONSORKIT_GITHUB_LOGIN: tracinginsights
          # SPONSORKIT_OPENCOLLECTIVE_KEY: ${{ secrets.SPONSORKIT_OPENCOLLECTIVE_KEY }}
          # SPONSORKIT_OPENCOLLECTIVE_SLUG: tracinginsights
          
          

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'chore: update sponsors.svg [ci skip]'
          add: "sponsors.* sponsors.light.*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


